@use "./highlight"as hl;
@use "./variables"as v;

.markplace-modal {

    &.markplace-error {
        h2 {
            color: var(--text-error);
        }


        .markplace-error-details {}

    }

}

.markplace-indent {
    padding-inline-start: 1rem;
}

.markplace-settings {

    @mixin markplace-control {
        display: flex;
        justify-content: space-around;
        padding: 0;

        * {
            flex: 1;
        }
    }


    .markplace-wide-control {
        @include markplace-control;
        width: 100%;
    }

    .markplace-expanded-control {
        @include markplace-control;
        flex: 1;
    }


}

@mixin markplace-editor-widget {
    font-size: smaller;
    padding: 0.2rem;
    border: 1px solid var(--background-secondary-alt);
    font-family: var(--font-monospace);
    line-height: 1.3;
    margin: 0 0.2rem;
}

.markplace-block-post-content {
    @include markplace-editor-widget;
    cursor: pointer;
}

.markplace-block-separator {
    @include markplace-editor-widget;
    color: v.$separatorTagColor;
}

.markplace-tooltip {

    &.cm-tooltip {
        background-color: var(--background-secondary-alt);
        border: 1px solid var(--background-secondary-alt);
        border-radius: 5px;
        padding: 0.5rem;
        font-size: 0.8rem;
        line-height: 1.3;
        box-shadow: 0 0 5px var(--background-secondary-alt);
        max-width: 20rem;
        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;
        white-space: pre-wrap;
        text-align: left;
    }

    .markplace-tooltip-container {}
}